[2018-02-10 19:33] aayusharora opened #3 "Make CSS Framework based on ITCSS"
- [ ] Setup Framework
- [ ] Setup Settings Layer
- [ ] Setup Tools Layer
- [ ] Setup Generics Layer
- [ ] Setup Elements Layer
- [ ] Setup Objects Layer
- [ ] Setup Components Layer
@abhishek97 @witty123  Please check this:
https://github.com/aayusharora/motley

Will generate PR in this repository, after making components.
 - [ ] Make Buttons
 - [ ] Make Card

[2018-05-12 17:32] vdvibhu20 opened #19 "course contents (progress) overlflow/underflow"
![screenshot from 2018-05-12 22-57-50](https://user-images.githubusercontent.com/18213029/39960025-7846dd18-5638-11e8-8dee-d413dfd75c75.png)

[2018-05-12 22:53] championswimmer opened #20 "<prev and next> in 3d card slider are performing opposite actions"
reverse the action on click on those buttons

[2018-05-12 22:54] championswimmer opened #21 "singularize batches -> batch if no is 1"

[2018-05-12 22:55] championswimmer opened #22 "would look better of the difficulty level icon is centre aligned"
<img width="75" alt="image" src="https://user-images.githubusercontent.com/1327050/39962213-aafc9374-5665-11e8-8924-a923d444b581.png">

[2018-05-12 22:56] championswimmer opened #23 "difficuty level icon overflow on smaller screens"
<img width="137" alt="image" src="https://user-images.githubusercontent.com/1327050/39962216-dab9066a-5665-11e8-9e6b-4e758e47dba0.png">

[2018-05-12 23:01] championswimmer opened #24 "all courses button border broken"
<img width="204" alt="image" src="https://user-images.githubusercontent.com/1327050/39962243-74b3c480-5666-11e8-85e8-0454f1820cb4.png">

[2018-05-12 23:02] championswimmer opened #25 "visited link color has no contrast with button"
<img width="146" alt="image" src="https://user-images.githubusercontent.com/1327050/39962249-9cc49fc6-5666-11e8-85a1-51cb87765025.png">

[2018-05-12 23:03] championswimmer opened #26 "re-visit spelling mistake"
<img width="194" alt="image" src="https://user-images.githubusercontent.com/1327050/39962255-c3826990-5666-11e8-9022-b7b7a024afb2.png">

[2018-05-12 23:09] championswimmer opened #27 "if price == 0, show "free" instead of Rs. 0"
<img width="143" alt="image" src="https://user-images.githubusercontent.com/1327050/39962282-81d3798e-5667-11e8-94ae-283d21300340.png">

[2018-05-13 11:27] championswimmer opened #28 "resume course button doesn't work on firefox"

[2018-05-13 11:31] abhishek97 opened #29 "Replace recommended-courses loader with skeleton cards"
It will be nice to have a skeleton behavior while loading.

![screen shot 2018-05-13 at 4 58 19 pm](https://user-images.githubusercontent.com/8109774/39966764-d41579ba-56ce-11e8-815d-2fb0596dab29.png)

The required asset: https://www.dropbox.com/s/kmhfsrjgiamgswq/blankcard.svg?dl=0

BOSS: Bonus 100 Bounty points for animating it via CSS.

[2018-05-13 11:35] abhishek97 opened #30 "Horizontally center the home image for tablet and mobile."
![screen shot 2018-05-13 at 5 05 28 pm](https://user-images.githubusercontent.com/8109774/39966829-c472cfde-56cf-11e8-8587-742285c2b086.png)

[2018-05-13 18:30] himanshuc3 commented on #30
I am going to be working on this issue. You can assign me this if you like.

[2018-05-13 19:06] abhishek97 commented on #30
@himanshuc3 Go ahead, looking forward to your PR.

[2018-05-14 03:01] shreyateeza commented on #29
I am working on this issue.

[2018-05-14 10:09] himanshuc3 commented on #28
where exactly, can you show me the link to the page/route?

[2018-05-14 12:10] v27u27 commented on #27
i am working on this

[2018-05-14 14:09] shreyateeza commented on #21
@championswimmer Please elaborate on this issue. I find it difficult to understand.

[2018-05-14 14:10] shreyateeza commented on #20
I am working on this issue.

[2018-05-14 14:15] shreyateeza commented on #26
I am working on this issue.

[2018-05-14 16:31] AshishkrGoyal commented on #25
@championswimmer i am working for this issue and will send pr as soon as possible
Thanks

[2018-05-14 16:32] AshishkrGoyal commented on #22
@championswimmer
sir i am working for this issue and solve it as soon as possible
Thanks

[2018-05-14 16:33] AshishkrGoyal commented on #23
@championswimmer i am working for this issue and send pull request asap!
thanks

[2018-05-14 16:33] AshishkrGoyal commented on #24
@championswimmer i have solved this issue !
updated PR will be sent asap!
Thanks!

[2018-05-14 16:40] shreyateeza commented on #22
I am working on this issue.

[2018-05-14 16:41] shreyateeza commented on #23
I am working on this issue.

[2018-05-14 17:31] hereisnaman opened #35 "Search input not responsive"
The search input box have static 375px width, which cause overflow on mobile screens. SS:
![screen shot 2018-05-14 at 10 59 11 pm](https://user-images.githubusercontent.com/22571395/40013224-9a71d76a-57ca-11e8-8822-fcc8f33c32fa.png)

[2018-05-14 17:38] hereisnaman commented on #30
@abhishek97 ipad width is actually 768px which comes under md so it can't be centered unless you want it to be centered for lg screens or otherwise using abrupt breakpoints. For w <768px the search bar width PR https://github.com/coding-blocks/codingblocks.online.projectx/pull/36  resolved this issue too.

Search bar width issue https://github.com/coding-blocks/codingblocks.online.projectx/issues/

[2018-05-14 17:38] hereisnaman commented on #35
resolved: https://github.com/coding-blocks/codingblocks.online.projectx/pull/36

[2018-05-14 17:48] v27u27 commented on #26
working on it

[2018-05-14 18:25] himanshuc3 commented on #30
I was working on it :(

[2018-05-14 18:52] hereisnaman commented on #24
@championswimmer fixed in https://github.com/coding-blocks/codingblocks.online.projectx/pull/42

[2018-05-14 18:57] architkshk commented on #23
#43 fixes this.

[2018-05-14 19:04] architkshk commented on #21
Please tell where we have to change this. In a course's about section?

[2018-05-14 19:55] architkshk opened #46 "Horizontally center the logo for tablet and mobile"

[2018-05-14 20:13] abhishek97 commented on #46
Accepted. Added Bounty

[2018-05-14 20:37] abhishek97 commented on #27
@v27u27 Yes you can. We already do have ember truth helpers as a dependency for this project, feel free to use them. However, it might not be the best for this case.

[2018-05-14 20:41] v27u27 commented on #27
@abhishek97  any suggestion, like what would be the ideal way of handling it?

[2018-05-14 20:45] abhishek97 commented on #27
Write your own helper to evaluate a string either `INR <amount>` or `Free`.

Then use it like {{formatPrice run.price}}

On Tue, May 15, 2018, 2:11 AM Vinayak Kumar <notifications@github.com>
wrote:

[2018-05-14 21:06] DiljyotS commented on #30
I am working on it and almost finished😇

[2018-05-14 23:26] ananay commented on #25
![image](https://user-images.githubusercontent.com/5569219/40028404-43da4054-57fc-11e8-8419-446ebf8556c6.png)

Already seems to be fixed here

[2018-05-15 05:38] championswimmer opened #47 "error on clicking 'resume learning'"
<img width="1648" alt="image" src="https://user-images.githubusercontent.com/1327050/40038500-0b331c10-5830-11e8-9427-15ff134a7475.png">

[code]

[code]

[2018-05-15 05:47] abhishek97 commented on #47
One can start looking for this issue at `attempt/index/route.js`.

HINT: Note that there are no contents for this course as the image shows `0 of 0 Contents`.

[2018-05-15 05:48] abhishek97 commented on #25
This was fixed by the dev team.

[2018-05-15 05:48] #25 closed

[2018-05-15 07:12] till-tomorrow commented on #23
I'm working on this!

[2018-05-15 07:13] till-tomorrow commented on #22
I'm working on it!

[2018-05-15 07:18] architkshk opened #48 "unable to buy any course"
Clicking the buy now button does not do anything.

[2018-05-15 08:20] till-tomorrow opened #50 "CB image link not redirecting to home page"
![logincb](https://user-images.githubusercontent.com/21954525/40045011-c47a3fbc-5846-11e8-9407-412919ffe486.JPG)

The icon on the top of the page is not redirecting the page to the home page
"https://online.codingblocks.com", but is more like a refresh button for
the login page!!

[2018-05-15 11:32] #47 closed

[2018-05-15 11:35] shreyateeza commented on #47
@abhishek97 Is this issue resolved?

[2018-05-15 15:17] abhishek97 commented on #47
Yes

[2018-05-16 07:45] abhishek97 opened #56 "The mobile nav-bar should close when clicking on any nav-link"
![screen shot 2018-05-16 at 1 14 39 pm](https://user-images.githubusercontent.com/8109774/40103486-35495ea2-590b-11e8-9a39-38ee985c3578.png)

[2018-05-16 07:48] abhishek97 commented on #50
We use `account.codingblocks.com` (oneauth) as SSO provider. So when you click login on any of codingblocks products it redirects to `account.codingblocks.com` which is a website of its own. Similar to when you click login on youtube, it redirects to accounts.google.com.

[2018-05-16 07:48] #50 closed

[2018-05-16 08:51] architkshk commented on #56
please check #57

[2018-05-16 08:57] architkshk opened #58 "ENROLL TO COURSES VIA OTP section has invalid padding on mobile"
![screenshot from 2018-05-16 14-25-21](https://user-images.githubusercontent.com/5001704/40107242-4ff9a874-5915-11e8-9f71-35f6c5d6a3ed.png)

[2018-05-16 15:06] architkshk opened #60 "incorrect width of reply now button in ask your doubt section"
![screenshot from 2018-05-16 20-30-48](https://user-images.githubusercontent.com/5001704/40125340-4e9e01a4-5948-11e8-928c-8e276eb075a3.png)

[2018-05-16 16:25] #20 closed

[2018-05-16 16:30] abhishek97 commented on #35
This issue no longer applies.

[2018-05-16 16:30] #35 closed

[2018-05-16 16:38] abhishek97 commented on #48
Yes, this is being fixed internally as redirect link cannot be decided by the frontend only.

[2018-05-16 16:38] #48 closed

[2018-05-16 16:55] #58 closed

[2018-05-16 16:55] #60 closed

[2018-05-16 19:52] abhishek97 opened #62 "Redirect to login when Otp-enroll button on courses/:id is clicked"
Currently, for loggedIn users `Enroll via OTP` buttons on `courses/:id` pages redirect to `/classroom`.

If the user is unauthenticated, We need to make the user go through the login flow (similar to what happens when the user clicks `login`)

Make sure to cover both the login buttons.

[2018-05-16 21:28] championswimmer opened #63 "Suggest a feature or report a bug/issue"
Meta issue for BOSS. Will always remain open.

Anytime you add a new issue, use this issue as reference to get bounties.

[2018-05-16 23:06] ananay opened #64 "README is outdated"
The project also requires you to have bower and the README does not specify that.

![image](https://user-images.githubusercontent.com/5569219/40148450-aa017736-598b-11e8-8f22-3760eab42cf5.png)

[2018-05-16 23:11] ananay commented on #64
#65

[2018-05-17 01:49] ananay commented on #62
Done! https://github.com/coding-blocks/codingblocks.online.projectx/pull/65

[2018-05-17 04:03] #56 closed

[2018-05-17 04:05] #27 closed

[2018-05-17 04:57] ananay commented on #64
#63 for new issue

[2018-05-17 05:02] architkshk commented on #56
Please add a bounty to this issue.

[2018-05-17 05:09] hereisnaman commented on #29
@abhishek97 these are the PRs
ProjectX: https://github.com/coding-blocks/codingblocks.online.projectx/pull/66/
Motley: https://github.com/coding-blocks/motley/pull/138

[2018-05-17 05:30] ananay commented on #21
Fixed!
@championswimmer
https://github.com/coding-blocks/codingblocks.online.projectx/pull/65

[2018-05-17 06:41] ananay commented on #62
https://github.com/coding-blocks/codingblocks.online.projectx/pull/68

[2018-05-17 06:55] ananay commented on #21
Here's a separate PR for this issue. Please merge this. https://github.com/coding-blocks/codingblocks.online.projectx/pull/69

[2018-05-17 06:57] ananay commented on #64
https://github.com/coding-blocks/codingblocks.online.projectx/pull/70

[2018-05-17 07:14] #64 closed

[2018-05-17 08:32] ananay commented on #62
@abhishek97 please close

[2018-05-17 09:26] hereisnaman commented on #23
@championswimmer @abhishek97 this has been done with absolute positioning. To resolve this in a better way using flex, html changes will also be needed. Please open this issue.

[2018-05-17 16:04] #62 closed

[2018-05-20 08:38] championswimmer commented on #21
Not valid anymore after the card ui changes

[2018-05-20 08:38] #21 closed

[2018-05-20 08:52] architkshk commented on #56
@abhishek97 Is this issue not covered under BOSS?

[2018-05-20 09:19] abhishek97 commented on #56
@architkshk You can claim this now, forgot to add the bounty.

[2018-05-20 09:39] architkshk commented on #56
Thank you

[2018-05-23 09:06] abhishek97 opened #72 "Handle Callback response from Dukaan"
- [ ] Add a Route `/payment_webhook`
- [ ] Define queryParams: `oneauth_id=xxx&transaction_id=xxx&transaction_status=xxx&product_ids=[]`
- [ ] Make request to backend `POST /api/v2/run_attempts` to try and create a `run_attempt(s)` for current user.
- [ ] If successful, redirect to `/classroom`
- [ ] If user is not loggedIn, enforce Login flow.

[2018-05-23 10:44] abhishek97 opened #73 "Remove `code` queryParam when user is loggedIn"
remove the `code` query param in URL when the user is loggedIn.

![screen shot 2018-05-23 at 4 13 39 pm](https://user-images.githubusercontent.com/8109774/40419908-4f6367a8-5ea4-11e8-863d-e391e9f9b648.png)

[2018-05-23 12:01] witty123 commented on #72
@abhishek97 @Dhroov7 will be working on this issue. Help him wherever he needs you help. His dev setup is complete.

[2018-05-24 11:49] witty123 opened #75 "Register button is not visible for carousel cards after the 2nd card"
<img width="1440" alt="screen shot 2018-05-24 at 5 17 56 pm" src="https://user-images.githubusercontent.com/7976098/40483730-900c533c-5f76-11e8-9d60-bf708b0685c6.png">

[2018-05-27 14:26] VibhorCodecianGupta commented on #73
#85 is the concerned pull request for this issue. Please review :)

[2018-05-28 04:42] abhishek97 commented on #73
Fixed in #85

[2018-05-28 04:42] #73 closed

[2018-05-28 04:44] #75 closed

[2018-06-01 15:13] championswimmer opened #89 "render notifications in markdown"
![image](https://user-images.githubusercontent.com/1327050/40848300-6d1f397c-65dc-11e8-949b-3fe37d5029b9.png)

[2018-06-01 15:16] championswimmer opened #90 "use svg for course content icons"
![image](https://user-images.githubusercontent.com/1327050/40848449-e71f03f6-65dc-11e8-84e1-f595cfe59ac1.png)

This is 500 points because whoever solves the issues needs to come up with the svgs too :D
(Use a PNG as a fallback probably)

[2018-06-01 16:03] ananay commented on #90
On it!

[2018-06-02 07:38] #89 closed

[2018-06-04 04:58] abhishek97 opened #94 "Provide better error messages for Otp-enroll component"
Here we have our OTP-Enroll component https://github.com/coding-blocks/codingblocks.online.projectx/blob/master/app/pods/components/otp-enroll/component.js

It is concerned with two `ember-concurrency` tasks: `sendOtpTask` and `verifyOtpTask`. We would want to provide error messages to the user as received from the backend instead hard-coded one. The error ~~can be a string or a~~ is a serialized

[2018-06-04 12:22] VibhorCodecianGupta commented on #90
Done in #97! Please review :)

[2018-06-04 12:54] VibhorCodecianGupta commented on #90
Done in #98! Please review :)

[2018-06-04 14:45] VibhorCodecianGupta opened #99 "Linting errors"
The error log is huge, owing to linting errors.

![screen shot 2018-06-04 at 6 49 24 pm](https://user-images.githubusercontent.com/29275810/40924020-e84bc152-6833-11e8-9a7f-21d21179c096.png)

[2018-06-04 14:50] VibhorCodecianGupta commented on #99
Done in #100

[2018-06-05 10:27] ananay commented on #90
@championswimmer @abhishek97 Done!
https://github.com/coding-blocks/codingblocks.online.projectx/pull/101

[2018-06-09 20:07] witty123 opened #106 "Fix overflow for solve doubts and announcements containers on overview page"
<img width="727" alt="screen shot 2018-06-10 at 1 36 04 am" src="https://user-images.githubusercontent.com/7976098/41195630-c9b52552-6c4e-11e8-9f75-f97f5ddcebef.png">

[2018-06-09 21:56] championswimmer opened #107 "clicking course from search result doesn't work"
<img width="376" alt="image" src="https://user-images.githubusercontent.com/1327050/41196448-0bfcb204-6c5e-11e8-930e-78920ccc243b.png">

tested on both chrome and firefox

[2018-06-10 04:50] architkshk commented on #106
@witty123 Ths would require changes in both CSS and component. Should I do CSS using motley?
it would look like -

![screenshot from 2018-06-10 10-18-47](https://user-images.githubusercontent.com/5001704/41198398-cd17855c-6c97-11e8-867a-6620ee36151d.png)

[2018-06-10 05:00] abhishek97 commented on #107
@championswimmer works for me. Can you make sure you don't have any console errors?

[2018-06-10 05:05] architkshk commented on #107
Works for me.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/5001704/41198446-ffea4256-6c99-11e8-8d80-9df1cd62287b.gif)

[2018-06-11 11:00] #99 closed

[2018-06-11 12:11] witty123 opened #109 "fix overflow in doubts section"
<img width="1440" alt="screen shot 2018-06-11 at 5 37 45 pm" src="https://user-images.githubusercontent.com/7976098/41230715-7891bfae-6d9e-11e8-8517-20e5eceb1f2c.png">

Make the required changes in motley repo

@architkshk Can you work on this since you have a fair idea of how to contribute in motley ?

[2018-06-11 13:02] architkshk commented on #109
@witty123 created PR in motley https://github.com/coding-blocks/motley/pull/176
Please review.

[2018-06-11 17:09] abhishek97 opened #110 "Problem Statement must be rendered as Markdown"
The problem statement for `code-challenge` must be rendered via markdown.

![md](https://user-images.githubusercontent.com/8109774/41246279-420bc19e-6dc8-11e8-9783-d1034a17fea2.jpeg)

[2018-06-12 02:42] #110 closed

[2018-06-12 07:05] #107 closed

[2018-06-12 10:23] architkshk commented on #109
@witty123 Please close this issue.

[2018-06-12 13:11] witty123 commented on #109
You have to create one final PR in this repo for reflecting the changes done in motley

[2018-06-12 14:06] architkshk commented on #109
@witty123 Done!!

[2018-06-13 07:30] #109 closed

[2018-06-13 07:31] witty123 opened #115 "Nav bar breaks on mobile"
Add user image as well
<img width="377" alt="screen shot 2018-06-13 at 5 20 31 pm" src="https://user-images.githubusercontent.com/7976098/41349634-1e18180c-6f2e-11e8-863f-a765628f82be.png">

[2018-06-13 07:32] firefinchdev commented on #115
I am working on this issue.

[2018-06-13 07:56] architkshk commented on #115
@witty123 I don't understand this issue. Please explain.
![screenshot from 2018-06-13 13-25-19](https://user-images.githubusercontent.com/5001704/41337620-5a83c4f6-6f0d-11e8-9580-0e0a388abd1d.png)

[2018-06-13 09:07] VibhorCodecianGupta commented on #115
Done, #116

[2018-06-13 11:39] firefinchdev commented on #115
Done #113

[2018-06-13 11:50] witty123 commented on #115
@architkshk open the navbar in mobile (hamburger)

[2018-06-13 11:51] firefinchdev commented on #115
![screenshot from 2018-06-13 17-20-15](https://user-images.githubusercontent.com/26357501/41349670-3ada14a4-6f2e-11e8-9db0-f9254fe5ff4e.png)

[2018-06-13 14:54] #115 closed

[2018-06-13 16:11] VibhorCodecianGupta commented on #90
Why was #174 closed? No reviews/suggestions? @witty123 @abhishek97 ?

[2018-06-13 18:26] witty123 opened #121 "broken course completion component css on course resume cards"
<img width="457" alt="screen shot 2018-06-13 at 8 23 34 pm" src="https://user-images.githubusercontent.com/7976098/41370434-4adab7fa-6f65-11e8-8652-3c078371179e.png">

[2018-06-14 07:30] witty123 opened #122 "Add content icons in course content page"
![whatsapp image 2018-06-14 at 00 53 25](https://user-images.githubusercontent.com/7976098/41397746-cb922122-6fd2-11e8-9168-be708f774aac.jpeg)

[2018-06-14 07:32] venomousboxer commented on #122
@witty123 can you plss share the icons to be used

[2018-06-14 08:17] witty123 commented on #122
https://github.com/coding-blocks/codingblocks.online.projectx/tree/master/public/images

You can take help from this file https://github.com/coding-blocks/codingblocks.online.projectx/blob/master/app/pods/classroom/timeline/contents/template.hbs

[2018-06-14 08:40] witty123 opened #123 "Add motley as a git submodule in this project"
Remove ./getMotley integration

[2018-06-14 12:07] #122 closed

[2018-06-16 21:57] championswimmer commented on #123
this is done I guess ?

[2018-06-16 22:11] witty123 commented on #123
Yup, in development for now. Will be merged to prod soon.

[2018-06-19 14:48] abhishek97 opened #131 "Design and Implement Search on contents"
On the Course consumption screen, it will be handy to be able to search on content names.

- [x] Design and layout of the search UI (Bounty: 200)
- [ ] Implementation for Design (CSS, to done via motley) (Bounty: 500)
- [ ] Feature Implementation (Ember) (Bounty: 1000)

Note: No need to make separate API calls to get search results, assume all data to be loaded on the frontend only.

This is the c

[2018-06-19 17:45] architkshk commented on #131
@abhishek97 These are my proposed design -
![concept1-destop](https://user-images.githubusercontent.com/5001704/41614646-a4a030f2-7416-11e8-943f-19f43d470f87.png)
![concept1-mob](https://user-images.githubusercontent.com/5001704/41614650-a51c0132-7416-11e8-916a-34d7801cfcdd.png)

[2018-06-19 17:52] abhishek97 commented on #131
@sidjain2901 ^ thoughts on the UI?

[2018-06-20 08:06] abhishek97 opened #132 "Make Notification Box Close when clicked outside it"
![screen shot 2018-06-20 at 1 35 54 pm](https://user-images.githubusercontent.com/8109774/41645512-da19bb72-748e-11e8-8eb6-fc4a48b5eb7a.png)

Currently only way to close it is clicked the bell icon again.

[2018-06-20 14:13] Rishabh570 commented on #132
@abhishek97 I would like to work on it...

[2018-06-20 17:27] championswimmer opened #136 "show modal with video player instructions"
Show a modal with following info when user plays a self-hosted video (not during Youtube ones)

- up/down changes video speed
- left right seeks +/- 5 sec in video

Add a checkbox with "Do not show again" option, which if ticked, will not show again.
Save the "do not show again" boolean in user's localstorage.

[2018-06-22 17:47] abhishek97 opened #139 "Missing Favicon"

[2018-06-22 17:52] abhishek97 opened #140 "Course Titles should be Hyperlinked"
Course Cards should have hyperlinked titles, which should redirect to course page `/courses/:id`

This needs to be done for all course cards.

[2018-06-22 18:21] Dhroov7 commented on #140
@abhishek97 Done! PR #141

[2018-06-22 18:22] abhishek97 opened #142 "Show Appropriate message in case there are no contents in the course"
On the course timeline page, show the following message if there are no contents.

![screen shot 2018-06-22 at 11 24 54 pm](https://user-images.githubusercontent.com/8109774/41791553-a29da1ea-7673-11e8-9595-712cae8cf575.png)

[2018-06-22 18:27] abhishek97 opened #143 "Make Youtube video autoplay"
The Self-hosted videos are autoplay by default. Autoplay youtube embeds as well.
This should help: https://developers.google.com/youtube/player_parameters#autoplay

[2018-06-22 18:29] abhishek97 opened #144 "Replace "X" from "Table Of Content" toggle and use icon"
You can use font awesome icons as they are already included as a dependency in this project.

![screen shot 2018-06-22 at 11 58 41 pm](https://user-images.githubusercontent.com/8109774/41792958-375aa6c6-7678-11e8-8f4f-e867ee57c420.png)

PS: The icon should change depending upon the state of the toggle, Show a hamburger for collapsed state and cross for the expanded state.

[2018-06-22 18:33] abhishek97 opened #145 "Replace "<" in "Go to Dashboard" button."
![screen shot 2018-06-23 at 12 02 20 am](https://user-images.githubusercontent.com/8109774/41793132-cbf3c254-7678-11e8-9057-5f9a603ff2f1.png)

[2018-06-22 18:35] abhishek97 opened #146 "Don't show suggested videos for youtube embeds"

[2018-06-22 18:37] abhishek97 opened #147 "Replace "Solve your Doubts" with "Ask your Doubts" everywhere"

[2018-06-22 18:44] Dhroov7 commented on #142
@abhishek97 Done! PR #148

[2018-06-22 19:04] Dhroov7 commented on #147
@abhishek97 PR #149

[2018-06-22 19:10] Dhroov7 commented on #145
@abhishek97 PR #150

[2018-06-23 08:06] architkshk commented on #143
@abhishek97 What ls the format of embedded video URL? Are there any parameters present already?

[2018-06-23 08:10] #94 closed

[2018-06-23 08:18] #147 closed

[2018-06-23 09:41] Dhroov7 commented on #142
@abhishek97 Done with changes.

[2018-06-23 10:56] #140 closed

[2018-06-23 11:04] #142 closed

[2018-06-23 11:07] #145 closed

[2018-06-23 11:55] #139 closed

[2018-06-23 12:39] #143 closed

[2018-06-23 12:39] #146 closed

[2018-06-23 13:15] #132 closed

[2018-06-24 15:10] architkshk opened #163 "clicking anywhere on pages display Notifications box(if not already visible)"
@abhishek97

[2018-06-25 06:52] abhishek97 commented on #163
#166 closed this.

[2018-06-25 06:52] #163 closed

[2018-06-25 06:55] #72 closed

[2018-06-25 06:56] #121 closed

[2018-06-25 06:56] #123 closed

[2018-06-28 16:07] sidjain2901 commented on #131
@architkshk The UI looks fine. Just try changing the search icon though, it looks streched. You can take reference from flaticon.com

[2018-06-28 17:35] abhishek97 commented on #131
Okay, so we are using @architkshk 's design on this.

[2018-06-29 22:41] championswimmer opened #173 "render mentor bio as markdown"
<img width="703" alt="image" src="https://user-images.githubusercontent.com/1327050/42117683-ac108c44-7c1b-11e8-9340-59410b34fa3d.png">

[2018-06-30 04:49] #173 closed

[2018-07-01 11:30] Rishabh570 opened #175 "Docs are needed to ease the process of getting started with the project."
Currently, it's hard for a beginner to set-up everything correctly and gets going with the project and clearly, docs are the best solution for it.

Like currently, after getting auth code in the URL, it's very hard for a new timer to know the next step, which results in a lot of confusion and time-waste. (experiencing it!)

[2018-07-02 12:06] abhishek97 opened #177 "Show if Run is premium or not on "My Courses" page."
Use suitable styling.

<img width="489" alt="screen_shot_2018-07-02_at_5_22_47_pm" src="https://user-images.githubusercontent.com/8109774/42162989-737d239c-7e1e-11e8-8d29-92cf7a8353a0.png">

[2018-07-02 12:13] abhishek97 opened #178 "Update Title of page"
Change the page `<title></title>` to the following when viewing content.

`<section name> : <content name>`

Possible ways of implmenting:

- Implement a new `title` service, it will appropriate methods to set/get title, section, content name etc..
- You will need to Jquery to update the title, since it is outside ember app.

- Or you can use the addon: http://tim-evans.github.io/ember-page-title/

[2018-07-02 13:49] VibhorCodecianGupta commented on #175
Were you able to resolve this @Rishabh570 ? You could post how you set up everything here, for future reference to contributors :D

[2018-07-02 14:34] architkshk commented on #178
@abhishek97 How do I test the application?

[2018-07-02 14:40] Rishabh570 commented on #175
@VibhorCodecianGupta Unfortunately Nope, I still don't know what to do next :xD

[2018-07-02 14:46] VibhorCodecianGupta commented on #175
@abhishek97

[2018-07-02 16:33] Dhroov7 commented on #177
@abhishek97 Done PR #180

[2018-07-02 18:17] abhishek97 commented on #175
@Rishabh570 @VibhorCodecianGupta @architkshk
I have updated the readme with instruction on running this project(commit 3f2519037bac96df6bf189c9ce74e59c9e8e0f89 and bab3555122bfc2e45e56c2385f30643e1cabeb98 ). I've hosted an instance of our backend with very limited database to get the application running. Keep in mind the backend instance is running on free-tier heroku, so load times will be slow.

[2018-07-03 10:31] Rishabh570 commented on #175
@abhishek97 I agree with @VibhorCodecianGupta 😄

[2018-07-03 10:33] abhishek97 commented on #175
It is already there. Please see both the runs.

[2018-07-03 11:23] firefinchdev commented on #178
Done @abhishek97 #181

[2018-07-03 17:16] championswimmer opened #183 "[SEO] change page title of homepage to `Coding Blocks: Online Courses`"
Note: The html `<title>` not anything to do with UI

[2018-07-03 17:17] championswimmer commented on #183
Also change the `alt` of the top left logo to  - **Coding Blocks Online**

[2018-07-03 17:36] VibhorCodecianGupta commented on #183
@championswimmer  Done, #184

[2018-07-03 17:53] abhishek97 commented on #183
@championswimmer The title change issue is already here https://github.com/coding-blocks/codingblocks.online.projectx/issues/178

[2018-07-03 17:56] abhishek97 commented on #178
Closed in #181

[2018-07-03 17:56] #178 closed

[2018-07-03 17:58] #177 closed

[2018-07-03 17:59] abhishek97 commented on #175
I'm closing this issue. Feel free to re-open or create another issue if you have any problems/questions.

[2018-07-03 17:59] #175 closed

[2018-07-03 18:00] #144 closed

[2018-07-04 11:52] abhishek97 opened #188 "Only allow ratings by users enrolled in "premium: true" run"
You can use "premium" property on "runAttempt" record.

[2018-07-04 14:21] VibhorCodecianGupta commented on #188
Isn't this resolved in [49498b4](https://github.com/coding-blocks/codingblocks.online.projectx/commit/49498b4cb9f8359d75f159f1530a8f6e36aab005)?

[2018-07-04 17:24] abhishek97 commented on #188
Yes

[2018-07-04 17:24] #188 closed

[2018-07-05 14:45] VibhorCodecianGupta opened #190 "Improvements in the UI"
I discovered some potential discrepancies and scopes of improvement in the UI throughout the project.
**Some of these are just suggestions, and will be resolved iff the maintainers agree to those too.**

Issues 4-8 are grammar and vocabulary related issues.

_**1.**_
![1](https://user-images.githubusercontent.com/29275810/42327643-d7e98b8c-8089-11e8-9743-b73f064c898f.png)
Not sure why this is happ

[2018-07-05 19:11] witty123 commented on #183
@VibhorCodecianGupta relatively smaller change so reduced the bounty points :) Hope you understand
closed in #184

[2018-07-05 19:11] #183 closed

[2018-07-06 12:50] witty123 commented on #190
Thanks for the comprehensive list @VibhorCodecianGupta
1st issue has already been fixed.
2nd issue is something that you can work on, if the UX improves then we'll merge the PR
3rd - 9th, you can work on these issues
10th seems a little confusing, will need more clarification
11th - 13th, agreed
14th, please put this on hold, need some more time to think about it
15th, agreed
16th, approved in the

[2018-07-06 12:53] #90 closed

[2018-07-06 13:10] championswimmer commented on #190
Awarding you a 300 point bounty for finding so many issues !!

[2018-07-06 13:20] VibhorCodecianGupta commented on #190
@witty123
10th issue simply says that the word 'Content' used in `2 of 10 Content completed` sounds a bit odd. Basically, the word can be replaced by a better word altogether, something which is self-explanatory. That's why I thought the word 'module' is appropriate. It is very widely used when we talk about breaking up a course into parts, which is also something being done in the course contents

[2018-07-09 11:23] abhishek97 opened #199 "Render Announcements as markdown"
Example: http://localhost:4200/classroom/course/26/run/31/announcements

<img width="702" alt="screen shot 2018-07-09 at 4 52 22 pm" src="https://user-images.githubusercontent.com/8109774/42447750-8825b992-8398-11e8-932c-ec86c848ddbd.png">

[2018-07-09 11:48] VibhorCodecianGupta commented on #199
#200 @abhishek97

[2018-07-10 07:13] pg07codes commented on #199
If this has been fixed, please close the issue.

[2018-07-10 07:21] #199 closed

[2018-07-10 07:47] VibhorCodecianGupta commented on #190
@witty123 made some updates in #193, please review :)

[2018-07-10 10:18] witty123 commented on #190
So suppose you've 10 different sections inside a course. Now each section can have multiple videos/lectures/docs/problems, what would you name them ?
Modules -> section
section content -> ?

[2018-07-10 10:46] witty123 commented on #190
for 14th issue, you can change the title to "Ask your Doubts"

[2018-07-10 12:32] pg07codes opened #201 "non valid requests should redirect to home"
![image](https://user-images.githubusercontent.com/34238240/42510007-3eb8b09c-846b-11e8-99dc-affd6b290e7e.png)

request to any non valid url should redirect back to the home page and not just show up blank like it does now.

[2018-07-10 13:00] abhishek97 commented on #201
A 404 page would be apter, let have that.

[2018-07-10 14:34] VibhorCodecianGupta commented on #201
Done, #203

[2018-07-12 12:50] VibhorCodecianGupta commented on #190
@witty123
It could be something like Course -> modules -> tasks.
So a course has modules, and each module 'tasks' to be completed be it videos/lectures/docs/problems

[2018-07-13 12:56] witty123 commented on #29
Bumping up the bounty points for more recognition.

[2018-07-16 13:11] VibhorCodecianGupta commented on #190
@witty123 @championswimmer
So I messed up a little. I was supposed to claim 300 BOUNTY for reporting this issue and 500 BOUNTY for the PR #193 . Instead, I ended up claiming 300 BOUNTY for #193 . It would be great if you could reject that bounty or edit it to be 500, so I can make the 300 claim on the right issue 😅

[2018-07-17 18:29] Rishabh570 commented on #175
@abhishek97 Sorry, but I couldn't find any content on both the runs. Please correct me if I'm wrong :confused:

[2018-07-19 09:52] #201 closed

[2018-07-24 07:23] abhishek97 opened #218 "Limit height of course's summary"
Limit the height of the summary here, also add a `Read more` link to expand to full the summary. While you are at it, parse it as markdown.

<img width="753" alt="screen shot 2018-07-24 at 12 47 52 pm" src="https://user-images.githubusercontent.com/8109774/43122803-e3970332-8f3f-11e8-9174-56e7767f7813.png">

[2018-07-26 02:04] VibhorCodecianGupta commented on #218
@abhishek97 I am not able to see any course run contents. The page isn't loading in the first page. Been this way for quite a while, a little help?

[2018-07-26 04:56] abhishek97 commented on #218
@VibhorCodecianGupta Do you see any errors or see no content?. You can enroll in trial version of the course and see the content there.

[2018-07-26 04:56] #218 closed

[2018-07-30 13:44] championswimmer opened #224 "reduce whitespace (top/bottom padding) in notifications"
![image](https://user-images.githubusercontent.com/1327050/43400950-a42421d4-942c-11e8-945e-99ab314aece6.png)

[2018-07-30 14:40] architkshk commented on #224
https://github.com/coding-blocks/motley/pull/241 Done css changes @championswimmer

[2018-08-05 08:59] VibhorCodecianGupta commented on #29
Done @witty123 @abhishek97 #228

[2018-08-05 09:00] VibhorCodecianGupta commented on #136
Done #226 @witty123 @abhishek97

[2018-08-07 12:26] witty123 commented on #29
Bumped up bounty points for additional work done.

[2018-08-07 12:26] #29 closed

[2018-08-07 12:35] #224 closed

[2018-08-07 15:43] firefinchdev opened #232 "Footer appears just below loader"

[2018-08-07 15:43] firefinchdev commented on #232
https://github.com/coding-blocks/codingblocks.online.projectx/pull/231

[2018-08-10 08:06] firefinchdev opened #234 "HLS player speed"
HLS player speed would be more convenient if 1.25x and 1.75x are available, i.e. in steps of 0.25x
Currently, it steps in 0.5x speed.

[2018-08-10 08:25] firefinchdev commented on #234
Done #235
@abhishek97
Pls Review.

[2018-08-10 12:35] VibhorCodecianGupta commented on #131
@abhishek97 #230

[2018-08-10 12:56] architkshk commented on #131
@abhishek97 already done https://github.com/coding-blocks/codingblocks.online.projectx/pull/236 earlier

[2018-08-10 18:25] firefinchdev commented on #131
@abhishek97 Done Completely #237
Pls Review.

[2018-08-10 18:28] firefinchdev commented on #136
@championswimmer
Pls close this. It has been solved.

[2018-08-11 11:47] witty123 opened #238 "Remove otp enroll option and add free trial instead"
<img width="393" alt="screen shot 2018-08-11 at 5 11 05 pm" src="https://user-images.githubusercontent.com/7976098/43991427-440b50b2-9d8a-11e8-8a35-837aac920123.png">
<img width="1439" alt="screen shot 2018-08-11 at 5 11 12 pm" src="https://user-images.githubusercontent.com/7976098/43991429-46bebe98-9d8a-11e8-8322-fe8f3feb4eaf.png">
Replace otp enroll with free trial, get currently running batch a

[2018-08-11 12:26] Dhroov7 commented on #238
@witty123 Please review. #241

[2018-08-11 12:40] #238 closed

[2018-08-11 12:46] witty123 opened #243 "Add free trial info and buy now link in course dashboard"
<img width="719" alt="screen shot 2018-08-11 at 6 07 54 pm" src="https://user-images.githubusercontent.com/7976098/43991831-69d05646-9d92-11e8-9c58-d1d4936854b1.png">
If the course access that the user currently has is a free trial then show that data and ask him to purchase full course as well by showing him the buy now button.
You'll have to come up with designs and PR in motley as well.

[2018-08-12 11:45] #234 closed

[2018-08-12 11:49] abhishek97 commented on #131
Since this issue can be closed now. Here is how i plan to divide the final bounties

- Design and layout of the search UI (Bounty: 200) @architkshk
- Implementation for Design (CSS, to done via motley) (Bounty: 500) (50/50 split)
    - 250 Bounty @architkshk for initial work
    - 250 Bounty @firefinchdev
- Feature Implementation (Ember) (Bounty: 1000) @firefinchdev

Please make claims accordingly

[2018-08-12 11:49] #131 closed

[2018-08-12 11:50] #136 closed

[2018-08-12 16:25] abhishek97 opened #245 "Highlight the current content"
The content which is currently being viewed should be highlighted in some manner to provide feedback to the user.

- The Design and DOM layout (motley PR): 300 Bounty
- Implementation: 200 Bounty

<img width="588" alt="screen_shot_2018-08-12_at_9_52_18_pm" src="https://user-images.githubusercontent.com/8109774/44004094-335160ae-9e7a-11e8-9d4e-39c35fbeb5ae.png">

[2018-08-12 16:58] firefinchdev commented on #245
![screenshot from 2018-08-12 22-26-51](https://user-images.githubusercontent.com/26357501/44004352-fba12374-9e7e-11e8-817e-f20226c27fde.png)
@abhishek97
This looks perfect. Pls Review.

[2018-08-12 17:01] firefinchdev commented on #245
![screenshot from 2018-08-12 22-30-24](https://user-images.githubusercontent.com/26357501/44004368-5a9a33de-9e7f-11e8-8db9-d0ebb5c1998f.png)
Or this also (difference in brightness)

[2018-08-12 17:06] firefinchdev commented on #245
![screenshot from 2018-08-12 22-35-45](https://user-images.githubusercontent.com/26357501/44004424-2a69dfd8-9e80-11e8-8149-43510931c04b.png)

[2018-08-12 17:09] VibhorCodecianGupta commented on #245
@abhishek97

**Proposed design:**

![screen shot 2018-08-12 at 10 38 23 pm](https://user-images.githubusercontent.com/29275810/44004448-82170c2e-9e80-11e8-80c2-0a85bccc8640.png)

[2018-08-12 17:15] architkshk commented on #245
@abhishek97
![screenshot from 2018-08-12 22-43-37](https://user-images.githubusercontent.com/5001704/44004523-5118e1b4-9e81-11e8-9c39-781b015b5d57.png)
https://github.com/coding-blocks/motley/pull/257

[2018-08-12 17:27] firefinchdev commented on #245
![screenshot from 2018-08-12 22-56-29](https://user-images.githubusercontent.com/26357501/44004640-06343264-9e83-11e8-928e-3a4aa6034a2a.png)
Another design

[2018-08-12 17:59] championswimmer opened #246 "NotSupportedError: Failed to set the 'playbackRate' property on 'HTMLMediaElement': The provided playback rate (-0.5..."
http://sentry.cb.lk/sentry/v2-prod/issues/2638/

[code]

[2018-08-12 18:02] championswimmer opened #247 "TypeError: Cannot read property 'getBoundingClientRect' of null"
**happens only on chrome in android**

http://sentry.cb.lk/sentry/v2-prod/issues/4658/

[code]

[2018-08-12 20:17] firefinchdev commented on #245
https://github.com/coding-blocks/motley/pull/259
https://github.com/coding-blocks/motley/pull/260
https://github.com/coding-blocks/motley/pull/261
https://github.com/coding-blocks/motley/pull/262
@abhishek97 These are my proposed designs.
Pls Review.

[2018-08-13 07:02] witty123 opened #251 "Feedback integration"
Implement feedback modal on course dashboard page.
Designs here : https://github.com/coding-blocks/motley/pull/255

[2018-08-13 07:28] abhishek97 commented on #246
We shouldn't allow playback rate to be `0` anyways, that's a pause. Make sure the playback rate is ` > 0` @VibhorCodecianGupta @architkshk

[2018-08-13 07:30] VibhorCodecianGupta commented on #246
@abhishek97 done

[2018-08-13 07:39] #246 closed

[2018-08-13 07:59] firefinchdev commented on #251
Done #252

[2018-08-13 10:27] VibhorCodecianGupta commented on #251
@witty123 #254, done earlier

[2018-08-13 13:29] VibhorCodecianGupta commented on #245
@abhishek97 #257 done. First commit. Please review :)

[2018-08-13 13:37] abhishek97 opened #258 "Show a temporary pause of 5seconds when transitioning to next content"
We need to show a temporary screen for 5sec before transitioning to next content.

- Design for the temporary screen (Bounty: 200)
- DOM example in motley (Bounty: 500)
- Implement in projectx (Bounty: 500)

[2018-08-13 13:43] abhishek97 opened #259 "Add jivochat for mobile only"
Need to add this script to DOM based on User Agent String - for Mobile Only

[code]

To be clear -> Need to add this script to the DOM. So that it loads jivo chat on mobile.

[2018-08-13 14:35] VibhorCodecianGupta commented on #259
#261 done
first commit. @abhishek97 please review

[2018-08-13 14:44] architkshk commented on #258
![cms](https://user-images.githubusercontent.com/5001704/44038932-8604c406-9f35-11e8-98bd-c789abaa1aef.png)
@abhishek97

[2018-08-13 15:02] abhishek97 commented on #258
Looks good archit. Although can you add a circle with a play button inside and some animations to show 5 secs

[2018-08-13 17:47] abhishek97 commented on #259
Guys,
I know that this is a competition. However, please have courtesy.
1. Only open up a PR if you have something to add/improve to an already existing PR, If you do have something please mention it. Don't just redo work, it's a waste.
2. None of the proposed PRs actually do what is required here. Anyone mind explaining what `document.write` do? or did others just copy it? Why would it solve the

[2018-08-13 17:49] abhishek97 commented on #258
@VibhorCodecianGupta Like the design too, however, I think an overlay over the existing content will be more appropriate, like in archit's.

[2018-08-13 17:53] VibhorCodecianGupta commented on #258
@abhishek97 please have a look at this

![screen shot 2018-08-13 at 11 22 26 pm](https://user-images.githubusercontent.com/29275810/44048707-c93c9dc4-9f4f-11e8-91f2-71312bc0628b.png)

[2018-08-13 19:09] championswimmer commented on #259
@VibhorCodecianGupta @architkshk @firefinchdev
One change -

here is the actual code snippet to be used

[code]

Only this
[code]
will not work for all cases

[2018-08-13 19:16] firefinchdev commented on #259
@championswimmer Updated #262
Pls Review.

[2018-08-13 19:17] architkshk commented on #259
@championswimmer pls also review #260

[2018-08-14 01:16] VibhorCodecianGupta commented on #258
@abhishek97 new design and motley implementation^
also, why was #257 closed? I mean it does the task and was committed first 😅

[2018-08-14 10:36] VibhorCodecianGupta commented on #259
@championswimmer @witty123 #265

[2018-08-14 11:10] #243 closed

[2018-08-14 12:13] VibhorCodecianGupta commented on #251
@witty123 refactored, please have a look #254

[2018-08-14 19:28] witty123 opened #266 "Flash email in video player"
Flash email on video player to prevent malpractices like screen recording

[2018-08-14 19:40] VibhorCodecianGupta commented on #266
Could you elaborate @witty123 ? Don't really know what flashing an email on a video player means.

[2018-08-14 19:58] abhishek97 commented on #266
Display the text over the video running. Flash it at random locations over the video player so that any attempt to screen record will include the email Id of the user.

[2018-08-14 21:02] witty123 commented on #245
Previous PRs on online projectx had issues. #250 and #257
Use {{link-to}} for managing the state instead of adding and removing classes.
Please submit new PRs.

[2018-08-15 14:13] witty123 opened #268 "Motley refactor"
Update markup for motley refactor https://github.com/coding-blocks/motley/issues/268

[2018-08-15 15:00] VibhorCodecianGupta commented on #268
@witty123 done #269

[2018-08-18 03:51] VibhorCodecianGupta commented on #258
@abhishek97 @witty123 please have a look at https://github.com/coding-blocks/motley/pull/278
Also, I need help to make a claim on these designs and DOM implementation.

[2018-08-18 03:52] VibhorCodecianGupta commented on #245
@witty123 @abhishek97 please have a look at  coding-blocks/motley#267 (accepted design and DOM implementation). I need help to make a claim on these.

[2018-08-19 07:32] #259 closed

[2018-08-23 19:19] championswimmer opened #272 "None: ResizeObserver loop limit exceeded"
http://sentry.cb.lk/sentry/v2-prod/issues/3259/

[code]

**mostly on Android  Chrome - especially One Plus**

[2018-08-23 19:22] championswimmer opened #273 "TypeError: Cannot read property 'style' of undefined"
http://sentry.cb.lk/sentry/v2-prod/issues/5237/

[code]

[2018-11-10 11:47] pg07codes opened #295 "http to https redirection"
I think it will be much better to redirect user from http to https like its done on codingblocks.com site and so such errors will also go away.
![capture](https://user-images.githubusercontent.com/34238240/48300979-4b454800-e50c-11e8-9c41-b67cf99f0cc2.PNG)

[2018-11-16 17:38] championswimmer opened #299 "If there is no discuss category id and subcategory id then do not redirect"
going to discuss.codingblocks.com/c/null/null isn't a good thing to do 😛

[2018-11-17 21:07] championswimmer opened #300 "add &rel=0 to youtube embeds"
in youtube embeds, in the youtube URL, append `&rel=0` query param. it disables the related videos as the end of the video.

[2018-11-17 21:08] championswimmer commented on #295
@pg07codes good catch

@abhishek97 I think we can enable this in Netlify settings ?

[2018-11-18 03:52] abhishek97 commented on #300
This is already done, youtube is somehow ignoring it.

[2018-11-18 03:57] abhishek97 commented on #295
We no longer use Netlify for production here. I'll take care of this.

[2018-11-20 13:54] #300 closed

[2018-12-05 06:56] suyashdeshpande opened #306 "Not accessible according to WCAG"
The website is not accessible according to WCAG. Some of the examples are :-
![image](https://user-images.githubusercontent.com/28438230/49495249-63e51b80-f888-11e8-8700-b0317dc80b66.png)
The bell icon and profile is not receiving focus as div is used without tabindex. A role should also be given.

![image](https://user-images.githubusercontent.com/28438230/49495316-9e4eb880-f888-11e8-8c6d-44a37e1

[2018-12-08 11:32] pg07codes opened #307 "cards scrolling even after last one"
the cards are scrolling a bit too sideways :smile:

![peek 2018-12-08 17-00](https://user-images.githubusercontent.com/34238240/49685540-d06f4d00-fb0a-11e8-8feb-342b6eb91ad7.gif)

[2019-03-03 05:27] abhishek97 commented on #307
It works now.

[2019-03-03 05:27] #307 closed

[2019-03-03 05:28] abhishek97 commented on #306
Nice find!, would you be able make PR to improve these?

[2019-03-03 05:28] #295 closed

[2019-03-03 05:30] abhishek97 opened #350 "Show spinner while loading more courses"
https://online.codingblocks.com/courses

When user clicks "Load More" button, a spinner should indicate loading state

[2019-03-03 05:32] suyashdeshpande commented on #306
Yes, I will do it

[2019-04-19 16:55] #266 closed

[2019-04-19 16:55] #268 closed

[2019-05-04 15:22] #190 closed

[2019-05-04 15:22] #247 closed

[2019-05-04 15:22] #251 closed

[2019-05-04 15:22] #299 closed

[2019-05-04 15:22] #273 closed

[2019-05-04 15:23] #272 closed

[2019-05-09 17:19] abhishek97 opened #399 "Fix course card's loading state"
The course cards are much smaller now, but we use the same shadow skeleton as before(when we had bigger cards).
Need to change these loading cards accordingly.

Maybe use: https://github.com/DavyJonesLocker/ember-skeleton

[2019-05-12 14:37] DevanandGowda commented on #350
@abhishek97 Can you assign this to me. It would be helpful for me to get started contributing
 to CodingBlocks since its a good first issue.

[2019-05-13 03:45] abhishek97 commented on #350
Yes, you can start working on this. However we don't assign issues for BOSS.

[2019-05-13 15:03] DevanandGowda opened #403 "Cannot find module 'ember-engines/lib/engine-addon'"
After cloning the project and installing all necessary packages. Upon running

`ember server`

Will get an error: `Cannot find module 'ember-engines/lib/engine-addon'
`

[2019-05-13 16:32] abhishek97 commented on #403
@DevanandGowda It is already listed in `devDependency`, should be installed as part of `npm install`

[2019-05-13 16:32] #403 closed

[2019-05-15 02:02] rakshitkumarcse commented on #258
@abhishek97 Is this issue closed? Thanks. :)

[2019-05-15 18:54] Manit1 commented on #399
Hey @abhishek97,
Currently, I can see the application uses markup to show the skeleton so should it be replaced with an entire image or gif? or do we need to include images in the current markup (like placeholder images for the mentors and course logo)?

[2019-05-15 19:22] abhishek97 commented on #399
This issue was already closed.

[2019-05-15 19:22] #399 closed

[2019-05-16 05:11] nileshpatra commented on #350
@abhishek97 , I added a PR , please review .

[2019-05-16 09:16] iamspathan opened #409 "New lecture video would not play automatically"
When a lecture ends next lecture will start but video not play automatically, we have refresh the window

[2019-05-16 14:05] abhishek97 commented on #409
It brings you to next video, you have to click on play.
I don't get what you mean by "we have refresh the window"

[2019-05-17 00:58] iamspathan commented on #409
Actually what happens at that time was next lecture came but old video is still in that  lecture😐 , I was thinking that it happens because of internet

[2019-05-17 00:59] iamspathan commented on #409
I think video should automatically play.

[2019-05-17 07:30] abhishek97 commented on #409
@iamspathan I'm not sure what you are reoffering to here. Maybe some screenshots will help.

 What does mean?

[2019-05-18 16:56] sachin235 commented on #350
@abhishek97 @championswimmer
Please review my PR #411 for this issue

[2019-05-18 17:42] nileshpatra commented on #350
@championswimmer , added #412 , rectified changes asked in #408

[2019-05-23 07:54] vdvibhu20 opened #413 "Remove <div> wrapper from <button>"
There are two primitive button class types used in our platform:-
`.button-solid` & `.button-dashed`

In some files, `<button>` elements are wrapped inside `<div>`. Remove the `<div>` wrapper and apply all the classes and actions to `<button>` respectively.

For instance, you will find in `/app/pods/components/otp-enroll/template.hbs::line22`
[code]
After refactoring it should look like
`<button c

[2019-05-26 08:39] abhishek97 opened #418 "We need to scroll to the top of the page, when showing pages"
By Default, the scroll position is preserved while transitioning routes. However, at times this isn't the desired behaviour.
We need to scroll to top for the following pages:

- [ ] Home
- [ ] All Courses
- [ ] My Courses
- [ ] Course Timeline (Course Overview)
- [ ] Course/:id

### How ?
Use [ember-router-scroll](https://github.com/dollarshaveclub/ember-router-scroll) plugin, and use the mixin at

[2019-05-26 08:40] #350 closed

[2019-05-27 07:11] abhishek97 opened #419 "Deprecate Jquery"
Jquery was included by default in Ember.js. Though it has served its purpose well, current state of ember and browsers no longer needs Jquery. Ember also has officially [deprecated Jquery](https://github.com/emberjs/rfcs/blob/master/text/0386-remove-jquery.md), we also wish to do the same.

Task: Remove all usages of jQuery throughout the project. One way to get started is to remove `@ember/jquery

[2019-05-27 09:57] rakshitkumarcse commented on #350
@abhishek97 @championswimmer  I fixed this issue using #407
However, I did not get the bounty, and my username is not shown on the leaderboard. Can you please help?

[2019-05-27 10:14] sourabh1031 commented on #419
working on this

[2019-05-27 11:01] sourabh1031 commented on #419
i removed the @ember/jquery package from package.json file and did yarn install but no error came

[2019-05-27 11:09] sourabh1031 commented on #418
Working on this

[2019-05-27 17:13] abhishek97 commented on #419
You must run the project. I don't know ember, you can start now https://guides.emberjs.com/release/

[2019-05-28 13:08] sahilbhosale63 commented on #413
Hi, I am working on this issue.

[2019-05-28 14:13] farhan787 commented on #419
@abhishek97 I ran the project before submitting the PR, it was working fine. Could you please tell me what's going wrong with this ?

[2019-05-28 14:59] sourabh1031 commented on #419
@farhan787 before sending pr you must atleast inform the you are working on the use . @abhishek97 i think sending pr in this way is not good because if one will inform that he is working on the issue then other people can try different issues in the meantime

[2019-05-28 17:03] farhan787 commented on #419
@sourabh1031 I think multiple people can try to fix the same issue, as I also don't know Ember. I'm new to it because I worked with React.js. So, there are less chances that everybody will be able to fix it and it's competitive where it matters who solved it first.

[2019-05-28 23:48] sourabh1031 commented on #419
@farhan787 okay i agree with you but i was just saying that writing in the issue description is also good. By the way no problem ,we all can try so go with it

[2019-05-29 03:41] farhan787 commented on #413
@abhishek97 please review :-)

[2019-05-30 07:18] farhan787 commented on #419
@abhishek97 please review it :-)

[2019-06-02 09:13] jatinkatyal13 opened #427 "Create sections in my courses"
Create 3 sections in My Courses
1. Current Courses
2. Free Trials
3. Expired Courses

Populate the sections accordingly.

[2019-06-02 19:29] farhan787 commented on #427
@jatinkatyal13 I'm working on this.

[2019-06-05 07:33] muskankhedia opened #428 "Linting errors"
The error log of the linting errors is huge
_A view on some of the errors:_
![Screenshot at 2019-06-05 13-02-52](https://user-images.githubusercontent.com/36980003/58938369-51459380-8792-11e9-9f11-7eaed3d1cbfb.png)

[2019-06-09 19:32] vdvibhu20 opened #437 "Skeleton Cards on All Courses page"
Show course skeleton card on All Courses page. Currently, it is showing My Courses skeleton cards.

[2019-06-12 20:06] Anant016 commented on #413
I will send a pull request by today.

[2019-06-12 20:55] Anant016 commented on #413
Sir, it's done in each and every file accordingly, Please check.

[2019-06-13 04:09] muskankhedia commented on #428
Will this issue be added in BOSS ?

[2019-06-18 17:06] Anant016 commented on #413
Would you please acknowledge the work, and merge my pull request.

[2019-06-19 20:04] farhan787 commented on #419
@abhishek97 please review this one and I hope it's the way you wanted it to be :-)

[2019-06-19 21:09] farhan787 commented on #427
@jatinkatyal13 while I'm logging into my account via GitHub token, this url `http://localhost:4200/?code=myGitHubAccessToken` keeps on loading as long as I'm letting it to load.

[2019-06-21 13:15] promaroy commented on #427
Can I work on this issue??

[2019-07-16 14:37] crusader2000 opened #448 "Background not configured properly"
#63

![Screenshot from 2019-07-16 20-04-01](https://user-images.githubusercontent.com/43775333/61303478-32acd080-a805-11e9-84c7-82040a1ad3bb.png)

The background does not cover the section properly

[2019-07-20 06:16] samagragupta opened #450 "Background of logout is not proper."
### Is this issue regarding CSS?
This project uses motley(https://github.com/coding-blocks/motley/) as CSS framework, consider opening an issue there instead.
![Capture](https://user-images.githubusercontent.com/32234926/61574991-fd91ce00-aae3-11e9-9b39-e67eb0efbc21.JPG)

[2019-07-20 06:16] samagragupta commented on #450
@championswimmer Please add BOSS

[2019-07-29 06:30] radharaniraj commented on #450
is this issue still open,can i work on this issue??

[2019-08-09 09:10] imdhruvgupta opened #455 "Persist Code on IDE in case of WA"
Steps to reproduce:
1. Open online IDE on any question.
2. Submit WA.
3. The source code changes to default template.

Expected Result:
The source code should persist for further work.

Filing this issue as per #63 .

[2019-08-09 09:47] #455 closed

[2019-08-09 13:11] imdhruvgupta opened #457 "Replace Input with Textarea"
![Screenshot 2019-08-09 at 6 39 10 PM](https://user-images.githubusercontent.com/32172694/62781177-ffdcbc00-bad4-11e9-88e2-0792d58959a0.png)

In the ask doubt section, the comment now input box should be replaced with textarea.

Filing this enhancement as per #63.

[2019-08-16 07:19] #457 closed

[2019-10-09 17:49] sowmiyamuthuraman commented on #428
is this issue still open?

[2019-10-10 13:08] jatinkatyal13 commented on #448
According to the designs it is meant to be that way ! Although you can work on some CSS fixes on our Motley project 😄

[2019-10-14 02:28] leelatanniru opened #472 "Social media links are opening in the current tab"
Steps to reproduce :
1. Open https://online.codingblocks.com/app/
2. Scroll down to footer section.
3. Click on any social media links (facebook, twitter, youtube, github, linkedIn)
4. Links are opening in the current tab.

Expected:
Links should be open in a new tab so that the user can have better experience.

[2019-10-14 03:13] leelatanniru opened #474 "Terms & Conditions and Privacy Policy are opening in the current tab."
Steps to reproduce :
1. Open https://online.codingblocks.com/app/
2. Scroll down to footer section.
3. Click on any Terms & Conditions
4. Link is opening in the current tab.
Same issue for Privacy Policy button.

Expected:
Links should be open in a new tab so that the user can have better experience.

[2019-10-14 23:34] Archaeologist03 commented on #413
@vdvibhu20 Hi there, I fixed this one with #476
Is this good? Those were pretty much all of the button-solid div wrapped buttons, button-dashed were already fixed.

[2019-10-15 16:03] farhan787 opened #478 "Unexpected change in Video playing speed"
The speed of the video automatically decreases each time when I press Command key for other tasks, for example, shifting to other apps by pressing Command + Tab or opening spotlight by Command + Space, etc... I'm on Mac, this might happen with Ctrl key on windows, I'm not sure about it.

[2019-10-19 14:21] prateekpardeshi commented on #474
@leelatanniru Mark this issue as closed

[2019-10-23 13:22] hv-ojha commented on #472
I think this issue is closed so can you please mark this as closed..

[2020-02-08 18:59] rwwagner90 opened #511 "Shepherd.js usage"
Hi! I noticed you guys are using Shepherd and ember-shepherd. We would love to showcase you as a user, if you are up for it!

[2020-02-08 20:26] abhishek97 commented on #511
Yes we will be delighted. 👍

[2020-02-09 01:50] rwwagner90 commented on #511
@abhishek97 awesome! What's a good way to get in touch? Email, discord, etc?

[2020-02-09 02:37] abhishek97 commented on #511
Over email: abhishek.gupta@codingblocks.com

[2020-02-09 13:30] #511 closed

[2020-03-18 09:04] raghav4 opened #536 "Feature Request: Support for Math in doubt section"
## Feature Request

Adding the support for **Mathjax** can help writing and to understand mathematical equations easily, frequently used for time complexity. Here's the [discourse's meta link](https://meta.discourse.org/t/discourse-math-plugin/65770)

[2020-04-20 22:00] #478 closed

[2020-04-20 22:01] #450 closed

[2020-04-20 22:01] #427 closed

[2020-04-20 22:14] abhishek97 commented on #536
Done! Thanks for the feedback. 👍

[2020-04-20 22:14] #536 closed

[2020-05-11 04:50] maze-runnar opened #553 "feature: implement Scroll to top Button"
### Is this issue regarding CSS?
yes
Implement scroll to top button in the website

[2020-05-11 04:52] maze-runnar commented on #553
I want to work on this

[2020-05-11 13:15] Sushant2 commented on #413
this issue is still open?
please assign it to me!

[2020-05-12 12:58] #474 closed

[2020-05-12 12:59] #437 closed

[2020-05-12 13:02] abhishek97 commented on #428
Accepted. Added bounties for BOSS 2020.

[2020-05-12 13:59] #245 closed

[2020-05-12 13:59] #413 closed

[2020-05-12 13:59] #409 closed

[2020-05-12 14:00] #232 closed

[2020-05-12 14:00] #448 closed

[2020-05-12 14:00] #472 closed

[2020-05-12 14:57] HaripriyaB opened #554 "Bug: Whatsapp number appended with '+91' gives error while editing profile info"
### Description
As a user, while I want to edit my profile info, I find that when I hit save changes the whatsapp number gets appended with "+91 " and it shows and error "Invalid whatsapp number ".

### Steps to Reproduce:
1. Log in to your profile at [LogintoAccount](https://account.codingblocks.com/login)
2. Go to profile
3. Click on "Edit profile"
4. Go to the bottom and click save changes
5. T

[2020-05-12 14:59] HaripriyaB commented on #554
@abhishek97 Can you review this issue??

[2020-05-13 10:11] HaripriyaB opened #555 "Login with OTP text on button not visible clearly in mobile version"
**Describe the bug**

The "Login with OTP" button text is not visible from Android 9.0 Oppo A9 2020 device. This is possibly the bug in web version.

**To Reproduce**
Note: This issue may not occur for all the devices.
1. Click on login/signup from splash screen
2. Click on login with Google button
3. See that next to login button there is another login button with incomplete text shown.

**Expect

[2020-05-13 15:46] chtushar commented on #419
@abhishek97  I want to work on this issue please assign. : )

[2020-05-13 15:47] abhishek97 commented on #419
@chtushar yes, go ahead. We don't "assign" issues here.

[2020-05-13 15:51] elit-altum commented on #428
Can I work on this ?

[2020-05-13 15:53] chtushar commented on #419
Okay Thanks : ). On which branch should I send the pull request?

[2020-05-13 17:11] mrwhoknows55 opened #556 "Add to wishlist and share course features are not working."
### Add to wishlist and share buttons are not giving any response, as shown in scheenshot.

### Tested On
1. Chrome Android.
2. Chromium on Linux.

### Screenshots
![share and wishlist](https://user-images.githubusercontent.com/30384908/81842579-dd973380-9569-11ea-8eef-2b95786a32c3.gif)

### Similar issue on [CBOnlineApp](https://github.com/coding-blocks/CBOnlineApp/issues/686)

[2020-05-14 04:39] Sujal123456 commented on #555
Can i work on this issue?

[2020-05-14 12:18] joeedwin commented on #553
@championswimmer  bounty for this?

[2020-05-15 03:35] Niteshrocks commented on #419
@abhishek97 Can I work on this issue?

[2020-05-15 06:56] chtushar commented on #419
@abhishek97 I'm getting an Authorization error after setting up and starting the repo.
![Screenshot from 2020-05-13 23-47-07](https://user-images.githubusercontent.com/33191895/82020717-3f10ec80-96a7-11ea-9c08-0a920949c726.png)

[2020-05-15 07:45] ade5h commented on #258
Sir I would like to work on this issue

[2020-05-15 12:09] IsomerX commented on #418
Is this still open?

[2020-05-15 17:59] Amanjakhetiya opened #557 "Email Showing up randomly on screen while accessing the course video content"
When we access the course video content the email id shows up randomly on screen.

![Capture1](https://user-images.githubusercontent.com/42570693/82081199-888f2500-9703-11ea-9c2e-d5ef6f8cf5d9.JPG)

[2020-05-15 18:01] Amanjakhetiya commented on #63
#557

[2020-05-15 18:06] Amanjakhetiya commented on #63
Email Showing up randomly on screen while accessing the course content #557

[2020-05-15 20:08] codewithdev opened #558 "Need to Update the and Remove the Button "Login with OTP" on My Course Section"
If the User is already logged in No need to show "Login with OTP".
Update Needed to change the Button to "Enroll Now"
![Capture](https://user-images.githubusercontent.com/44609609/82091904-de6cc880-9715-11ea-8fdf-ef808a605399.JPG)

[2020-05-16 07:22] mrwhoknows55 commented on #556
@abhishek97 please review this issue

[2020-05-16 09:20] abhishek97 commented on #557
This intended behaviour to discourage screen recording

[2020-05-16 09:20] #557 closed

[2020-05-16 13:55] ankiiitraj commented on #428
How to approach this issue? @abhishek97

[2020-05-16 17:56] souravs17031999 opened #559 "Contact Us -> Centres not being shown properly"
Requirements for testing : Desktop , Windows 10, chrome Version 81.0.4044.138 64 bit

Steps to reproduce the issue :
* Open the home page - https://codingblocks.com/
* Hover over the "Contact Us" section on right side of the top most nav bar.
* Then, hover over "Centres" section.

The "centres" are not shown properly and it is hidden by the overlayed object containing "contact us" menus.

I have c

[2020-05-17 12:41] abhishek97 commented on #558
Enroll to OTP features is meant to be used users who have been granted access to a course but don't have codingblocks account yet. It isn't for login.

[2020-05-17 12:41] #558 closed

[2020-05-17 12:43] abhishek97 commented on #553
@maze-runnar Please add screenshot. Where exactly you want to add this? The Home page, the course consumption page, the course description page?

[2020-05-17 15:09] abhishek97 opened #561 "Make more power modals"
- [ ] Create a new component `modal` and wrap `modal-dialog` component inside it.
- [ ] Replace usages of `modal-dialog` with `modal`
- [ ] Close Modal when user presses `esc` key

`modal-dialog` component comes from [ember-modal-dialog](https://github.com/yapplabs/ember-modal-dialog)

[2020-05-17 15:10] abhishek97 commented on #428
@ankiiitraj Starting with getting the project running on your local

[2020-05-17 18:05] maze-runnar commented on #553
I want it on the front page

[2020-05-18 01:25] maze-runnar commented on #419
@chtushar  do you find a way to resolve this error, I am also getting this

[2020-05-19 10:42] siddharth25pandey opened #562 "Email-ID is not clearly readable in Communication block"
On [http://lab.codingblocks.com/boss](url) the Communication block have a email id for communication purposes. Kindly make it clearly readable by writing exact format of email-id.

[2020-05-20 16:07] ade5h commented on #561
I would like to work on this issue

[2020-05-21 04:33] coderrsid commented on #561
@abhishek97 Can you just elaborate how the modal file structure should be a little more after adding changes, i want us to be on the same page? Thanks.

[2020-05-21 12:54] abhishek97 opened #563 "Change color red/green based on stats"
![WhatsApp Image 2020-05-21 at 6 19 38 PM](https://user-images.githubusercontent.com/8109774/82561013-2feeda80-9b90-11ea-91ed-f4984b32882c.jpeg)

[2020-05-21 12:55] abhishek97 commented on #553
ok, then this issue belongs to https://github.com/coding-blocks/amoeba-frontpages
watch: https://www.youtube.com/watch?v=3eZiK7fZQDo

[2020-05-21 13:08] ankiiitraj commented on #563
What I understood :
 - Should be Red if Rank has increased and vice-versa
- Should be Red if Points have decreased and vice-versa
Am I right?

[2020-05-21 13:11] ankiiitraj commented on #563
If this is right then it currently works
![Screenshot from 2020-05-21 18-39-54](https://user-images.githubusercontent.com/48787278/82562285-8bba6300-9b92-11ea-8dd7-4e8b6c68fdc5.png)

[2020-05-21 19:56] prajwalkpandey opened #564 "Default Pic"
@abhishek97

**IF no profile picture set default pic**

Sir in issue 10 of ameoba frontend you said fix default pic for this too.. it will be bounty 50

[2020-05-22 09:39] vibhuti019 commented on #561
I would like to contribute to this.

[2020-05-23 12:25] mrpkdeveloper opened #570 "compare batches page (lite,premium.live) does not scroll down and thus its content are not visible at the bottom"
**Describe the bug**
 when u click on compare batches to compare between lite and premium batches , page loads up but it cannot be scrolled down and thus its content are not visible at the bottom

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'buy courses and click on explore for any course'
2. Click on 'compare batches under choose batch column'
3.  See error

**Expected behavior**
t

[2020-05-23 12:27] mrpkdeveloper commented on #570
Please add bounty to this issue if u feel that this is a bug . I would like to contribute and resolve this issue by participating in BOSS contest.

[2020-05-23 12:42] mrpkdeveloper commented on #570
compare batches page (lite,premium.live) does not scroll down and thus its content are not visible at the bottom #63

[2020-05-25 14:32] mrpkdeveloper commented on #570
@abhishek97  can i claim these 20 points for raising this issue ? (it is asking for pull request but i didnt submit any pull request).

[2020-05-26 21:51] nvmav opened #575 "Not able to add courses to wish list"
While trying to add course to wish list, it is not happening. It is redirecting website to same URL appending # at end

Ex: https://online.codingblocks.com/courses/dynamic-programming-courses-problems-tutorials
is being redirected to https://online.codingblocks.com/courses/dynamic-programming-courses-problems-tutorials#

[2020-05-27 13:10] abhishek97 commented on #570
@mrpkdeveloper yes you can. Just paste this issue link instead of PR

[2020-05-28 10:32] roubalsehgal opened #576 "Menu Item Not Visible"
On the Page **https://account.codingblocks.com/users/me**
One of the items from
- My Profile
- My Addresses
- My Organizations
- My Apps

**MY APPS** item (in desktop view) is not visible properly.
Screenshots of the Issue is attached below⤵

**DESKTOP VIEW** ⤵

![Screenshot (140)](https://user-images.githubusercontent.com/44202409/83130750-6aaac280-a0fc-11ea-8bd1-38d0d3f17e43.png)

**MOBILE VIEW*

[2020-05-29 07:56] b30wulffz commented on #563
Fixed, please review

[2020-05-29 20:33] aayushwadhwa1 opened #580 "Hiring blocks button hidden due to chat button in Mobile view"
In Mobile view, the hiring blocks button is hidden due to the chat button coming above it. <br>Doddled on it for your reference
![WhatsApp Image 2020-05-30 at 01 54 23](https://user-images.githubusercontent.com/38061001/83302755-8061da00-a219-11ea-88bb-346d7842ed54.jpeg)

[2020-05-31 07:50] aayushwadhwa1 commented on #580
Please add bounty if you think this is a valid issue

[2020-05-31 16:50] ADITIJ700 commented on #63
please look over these 4 issues
[issue1](https://github.com/coding-blocks/codingblocks.com/issues/889)
[issue2](https://github.com/coding-blocks/codingblocks.com/issues/888)
[issue3](https://github.com/coding-blocks/codingblocks.com/issues/887)
[issue4](https://github.com/coding-blocks/codingblocks.com/issues/886)

[2020-06-03 02:57] aayushwadhwa1 commented on #580
Can you please tell me if this is a valid issue or not?

[2020-06-08 16:29] aayushwadhwa1 commented on #580
Can someone help

[2020-06-12 01:23] abhishek-aa commented on #570
I would like to be assigned to this issue

[2020-06-18 18:00] sutharp777 opened #594 "Add Feature : Global search Option on Landing page of Hackerblocks."
#### It is very difficult to search a question by name on hackerblock.

- It will be Great, if we have Search option that make Global Seach for any question in quetion bank of HackerBlocks,
- like Algorithm, DataStructure, Mathmetics, and some Contests on Hackerblocks and All different Section of Quetions On HackerBlocks, can be searched on **Search Option On Landing Page of HackerBlocks for any Q

[2020-06-19 13:01] abhishek97 commented on #570
@abhishek-aa Okay. I've assigned you the issue. please make a WIP PR asap.

[2020-06-19 16:05] abhishek-aa commented on #570
Okay. Thank you.

[2020-06-26 11:14] abhishek-aa commented on #570
I was going through the master branch and after running the server and app, I noticed that the 'Compare Batches' option is not present. I checked the code and searched for something vaguely similar to it but didn't find anything. Kindly guide me so that I can move forward with fixing this bug. I have also attached the screenshot of the aforementioned page with missing feature.
![CodingBlocks](http

[2020-06-27 17:36] #594 closed

[2020-07-08 02:26] sanidhyakr18 opened #596 "Bookmark button is not functioning in fragment view"
The bookmark button is working perfectly in full screen windowm as shown with red circle in 1st image
![image](https://user-images.githubusercontent.com/54947362/86867144-ed597100-c0ef-11ea-9b24-d177c80dfba1.png)

But it is not functional when you click on application restore button as shown with red circle in 2nd image.
![image](https://user-images.githubusercontent.com/54947362/86867258-242f8700

[2020-08-01 14:21] MOHD-TABREZ opened #598 "( courses) section is not available in pc and mobile view after login into our account"
### Is this issue regarding CSS?
This project uses motley(https://github.com/coding-blocks/motley/) as CSS framework, consider opening an issue there instead.

after login into our account, we are unable to go to **our courses** section, this is the main issue for all those who want to go to their registered courses after login, so it will be better to add (my courses)  section in login page .pls

[2020-08-29 16:10] abhishek-aa opened #603 "Online course challenge results displayed for multiple challenges"
After completion of a challenge in an online course when the results are displayed, the same results are displayed are displayed in some other challenge of that same course if the user doesn't refresh the page and navigates to that challenge even if the user has not made any submission in that challenge.

Steps to reproduce :
1. Complete a challenge
2. After the results are displayed, move to some

[2020-10-05 08:14] gunishmatta opened #619 "Progress Not being Updated in the courses"
### Is this issue regarding CSS?
This project uses motley(https://github.com/coding-blocks/motley/) as css framework, consider opening an issue there instead.
Hi,
I am a student enrolled in Interview Preparation Online course. I have been noticing from two three days that my progress of the lectures completed is not being updated at the server end.
It shows green tick when I complete a video but w

[2020-10-08 15:22] AdityaTeltia opened #620 "There is issue in https://hack.codingblocks.com/app/contests/1903 ."
!How to Reproduce error ?
https://hack.codingblocks.com/app/contests/1903
the screen is shifting left right in hackerblocks
This is happening for window width 1010 px
It is switching from 1010px and 1027px continuously
@championswimmer please check this is really annoying .

[2020-10-08 18:15] championswimmer commented on #620
cc: @jatinkatyal13

[2020-10-08 18:24] jatinkatyal13 commented on #620
Hey @AdityaTeltia

Thanks for the report 👍 .

Can you please also add a GIF/Video of the same?

If not a video it'll be a great help if you can answer the following:
1. Does the shifting happen when you try to scroll or hover on the scroll bar?
2. Is the left SideBar (the black navigation strip) stretched from top to bottom?
3. When you said it is switching from 1010px to 1027px do you mean the su

[2020-10-08 18:34] AdityaTeltia commented on #620
Answers:
No , irrespective of any hover it is happening continuously .
It happens all the time for my screen resolution irrespective of I do anything
The change is sudden but its keep on switching and scrollbar appears and go away.
I have not zoomed in or zoomed out its the resolution of my screen where it is happening
![Hackerblocks - Google Chrome 10_8_2020 11_53_58 PM](https://user-images.githu

[2020-10-08 18:58] jatinkatyal13 commented on #620
@AdityaTeltia that'll be amazing, you can surely try solving the issue at https://github.com/coding-blocks/hackerblocks.projectx

[2020-10-08 19:07] AdityaTeltia commented on #620
I can think of one way by changing media query width from 991 px to 1080 px , I have tried this and this resolves the issue .
Moreover , I was thinking of changing the scrollbar css just like in the picture as it goes good with the website theme .
![scrooo](https://user-images.githubusercontent.com/67232537/95502526-95b8f300-09c7-11eb-8761-0ac7a769f93f.JPG)

[2020-10-09 05:16] leelatanniru commented on #580
@abhishek97 do we have wireframes for this or do we need to just adjust the icon little bit above ? Please reply, i would like to work on this.Thanks.

[2020-10-22 14:40] #620 closed

[2020-11-21 13:23] #603 closed